<div class= "row">
<br>
<section class="small-8 small-centered columns">
<div class= "panel">
<h1>Movies List</h1>

<%= form_tag(movies_path, :method => "get", id: "search-form") do %>

 <div class="large-7 columns">
 <div class="row collapse">          
   <div class="small-9 columns">
   <div id="right-label"><%= text_field_tag :search, params[:search], placeholder: "Type Movie name" %></div>
   </div>
 
 <div class="small-3 columns">
  <input class="button postfix" type="submit" value="Search"></div>
 </div>
 </div>

<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
      <!-- <th>Picture</th>
      <th>Video</th>
      <th colspan="3"></th>  -->
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.name %></td>
        <td><%= movie.description %></td>
        <!-- <td><%= movie.picture %></td>
        <td><%= movie.video %></td> -->
        
        <td><%= link_to 'Show', movie %></td>
 <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="button">
<%= link_to '<font color = "white" >New Movie</font>'.html_safe, new_movie_path %>
</div>
</div>
</section>
</div>